@mixin flex-center($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin flex-center-direction($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin content-width() {
    width: 88%;
    max-width: 100%;
    margin: auto;
}
