footer {
    position: relative;
    background-color: $black;

    .container {
        @include flex-center-direction(column);
        @include content-width();

        .brand {
            color: $white;
            padding: 2rem 0;
        }

        .footer-social ul {
            display: flex;

            li {
                list-style: none;
            }
            a {
                padding: 2rem;
                svg {
                    fill: $white;
                    transition: fill 0.15s ease;
                }
                &:hover {
                    svg {
                        fill: rgb(91, 189, 235);
                    }
                }
            }
        }

        .footer-nav {
            margin: 2rem auto;

            nav ul {
                padding: 0;
                margin: 10px;
                display: flex;
            }

            li {
                list-style: none;
                margin: 0px 5px;
            }

            a {
                text-decoration: none;
                color: $white;
                font-size: 1.4rem;
                transition: all 250ms linear 0s;
            }
            a:hover {
                //color: $btn-hover;
                text-decoration: underline;
            }
        }

        .footer-copyright {
            padding: 10px 0px;
            color: $white;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 730px) {
    .footer-nav nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            flex: 0 0 40%;
        }
    }
}

@media (max-width: 455px) {
    .footer-nav nav ul {
        flex-direction: column;
    }

    footer .container {
        .footer-copyright {
            font-size: 1rem;
        }
    }
}

@media (max-width: 320px) {
    footer .brand {
        h1 {
            font-size: 2.5rem;
        }
    }
}
