@mixin flexCenter($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin flexCenterDirection($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}
